<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="./config/ekispert.js"></script>
    <script src="./javascripts/courses.js"></script>
    <link rel="stylesheet" href="./stylesheets/common.css">
    <title>駅すぱあとjs</title>
  </head>
  <body>
    <div id="courses">
      <input v-model="departure">
      <input v-model="arrive">
      <button v-on:click="search">検索</button>

      <div v-for="(value, key) in ResultSet">
        <div v-if="typeof value === 'string'">
          {{ key }} : {{ value }}
        </div>
        <div v-else>
          {{ key }}
          <div v-for="(value, key) in value">
            <div v-if="typeof value === 'string'">
              {{ key }} : {{ value }}
            </div>
            <div v-else>
              {{ key }}
              <div v-for="(value, key) in value">
                <div v-if="typeof value === 'string'">
                  {{ key }} : {{ value }}
                </div>
                <div v-else>
                  {{ key }}
                  <div v-for="(value, key) in value">
                    <div v-if="typeof value === 'string'">
                      {{ key }} : {{ value }}
                    </div>
                    <div v-else>
                      {{ key }}
                      <div v-for="(value, key) in value">
                        <div v-if="typeof value === 'string'">
                          {{ key }} : {{ value }}
                        </div>
                        <div v-else>
                          {{ key }}
                          <div v-for="(value, key) in value">
                            <div v-if="typeof value === 'string'">
                              {{ key }} : {{ value }}
                            </div>
                            <div v-else>
                              {{ key }}
                              <div v-for="(value, key) in value">
                                <div v-if="typeof value === 'string'">
                                  {{ key }} : {{ value }}
                                </div>
                                <div v-else>
                                  {{ key }}
                                  <div v-for="(value, key) in value">
                                    <div v-if="typeof value === 'string'">
                                      {{ key }} : {{ value }}
                                    </div>
                                    <div v-else>
                                      {{ key }}
                                      <div v-for="(value, key) in value">
                                        <div v-if="typeof value === 'string'">
                                          {{ key }} : {{ value }}
                                        </div>
                                        <div v-else>
                                          {{ key }}
                                          <div v-for="(value, key) in value">
                                            {{ key }} : {{ value }}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
